/*
 * 小程序组件样式统一
 */


// 基础组件重置
// ============================================================================

// 视图容器

// page, // 排除 page 组件样式 for iOS

view,
scroll-view,
swiper, swiper-item,
movable-view, movable-area,
cover-view, cover-image,

// 基础内容

icon,
text,
rich-text,
progress,

// 表单组件

button,
checkbox,
form,
input,
label,
picker,
picker-view, picker-view-column,
radio, radio-group,
slider,
switch,
textarea,

// 导航

navigator,
functional-page-navigator, /* v2.1.0+ */

// 媒体组件

audio,
image,
video,
camera,
live-player, /* v1.7.0+ */
live-pusher, /* v1.7.0+ */

// 地图

map,

// 画布

canvas,

// 开放能力

open-data,
web-view,
ad /* v1.9.94+ */
{
  &,
  &::after,
  &::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
}

// 组件独立设置
// ============================================================================

/* region 视图容器 */
page {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  min-height: 100%;
  max-width: 100%;
  line-height: 1.5;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
}

scroll-view {
  height: 100%;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

movable-area {
  position: relative;
  height: auto;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  overflow: hidden;
}

movable-view {
  position: relative;
  display: block;
  width: 100%;
  min-width: 100%;
  height: 100%;
}
/* endregion 视图容器 */

/* region 表单组件 */
textarea {
  display: block;
  /*padding: .5em;*/
  width: 100%;
}

rich-text {
  display: block;
}
/* endregion 表单组件 */

/* region 内联组件 */
image {
  max-width: 100%;
  max-height: 100%;
  vertical-align: top;
}

text,
checkbox,
radio {
  vertical-align: middle;
}

input,
cover-image {
  display: inline-block;
  vertical-align: middle;
}
/* endregion 内联组件 */

/* region 其他 */
navigator {
  display: block;
  height: auto;
  width: auto;
  max-height: 100%;
  max-width: 100%;
}

.disabled,
[disabled] {
  pointer-events: none;
  opacity: 0.75;
}
/* endregion 其他 */
