// Mixins & Functions
// ====================================================

// Functions

/**
 * Convert 'px' to 'rpx'
 */
@function rpx($value) {
  @return $value * 1rpx;
}

// Mixins

@mixin clearfix {
  &::before,
  &::after {
    content: " ";
    display: table;
    height: 0;
    overflow: hidden;
    visibility: hidden;
  }
  &::after {
    clear: both;
  }
}

@mixin text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin flex-center {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@mixin with-line-top ($distance: 0, $color: #F2F1F5) {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: $distance;
    right: $distance;
    z-index: 1;
    height: 0;
    border-top: rpx(1) solid $color;
    transform: scaleY(.5);
  }
}

@mixin with-line-bottom ($distance: 0, $color: #F2F1F5) {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: $distance;
    right: $distance;
    z-index: 1;
    height: 0;
    border-top: rpx(1) solid $color;
    transform: scaleY(.5);
  }
}

@mixin with-border ($color: F2F1F5, $width: rpx(1), $radius: 0) {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    z-index: 0;
    top: 50%;
    left: 50%;
    width: 200%;
    height: 200%;
    margin-top: -100%;
    margin-left: -100%;
    border: $width solid $color;
    border-radius: $radius;
    transform: scale(0.5);
    transform-origin: center;
  }
}

@mixin block-gap ($height: rpx(20), $bgColor: #f7f7f7) {
  display: block;
  width: 100%;
  height: $height;
  clear: both;
  background-color: $bgColor;
}
